[package]
name = "pyapp"
version = "0.3.0"
description = "CLI for self-bootstrapped Python applications"
license = "Apache-2.0 OR MIT"
edition = "2021"

[dependencies]
anyhow = "1.0.71"
clap = { version = "4.2.5", features = ["derive"] }
directories = "5.0.0"
flate2 = "1.0.26"
indicatif = { version = "0.17.3", features = ["improved_unicode"] }
once_cell = "1.17.1"
os_pipe = "1.1.4"
reqwest = { version = "0.11", features = ["blocking", "rustls-tls"], default-features = false }
tar = "0.4.38"
tempfile = "3.5.0"
zip = { version = "0.6.4", default-features = false }
zstd = "0.12.3"

[build-dependencies]
highway = "1.0.0"
regex = "1.8.1"
reqwest = { version = "0.11", features = ["blocking", "rustls-tls"], default-features = false }
